{% extends 'base.html' %}


{% block title %}
    {{ title }}
{% endblock %}
    
{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}


{% block content %}
    {% for item in news %}
        <div class="card mb-3">
            <div class="card-header">
                
                {% if item.category %}
                    Категория: <a href="{% url 'category' item.category.pk %}">{{ item.category }}</a>
                {% else %}
                    <span class="text-muted">Без категории</span>
                {% endif %}
                
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|truncatewords:50 }}</p>
                <a href="#" class="btn btn-primary">Читать далее</a>
            </div>
            <div class="card-footer text-muted">
                {{ item.created_at|date:"Y-m-d H:i:s" }}
            </div>
        </div>
    {% endfor %}      
{% endblock %}
    